extends layout


block content
  div.body
      // Theme CSS
      link(href='/stylesheets/index.css', rel='stylesheet')
      div.header#wrapper
        .header-content
          .header-content-inner
            h1#homeHeading= title
            hr
            p A simple client/server chat web application
            p= groupName
            p Group Members : Beth, Dan, David, Jed, Jen and Tim
            a.btn.btn-primary.btn-xl(href='/login') ENTER

