extends layout

block content
    div.body
        link(rel='stylesheet', href='/stylesheets/login.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        form(id='login-form', method='POST', action='/login' novalidate)
        .box
            h1 LOGIN
            .form-group
            input.register(type='text', name='username', id='username', placeholder='Enter username')
            .form-group
            input.password(type='password', name='password', id='password', placeholder='Enter password')
            //- need to put this messenger link in later
            a(value='submit', )
                .btn Sign In
            // End Btn
            //- links to register page
            a(href='/users/register')
                #btn2 Sign Up
            // End Btn2
        // End Box
        p
            a(href='/' style='color:crimson; font-size:14px; font-weight: bold;') HOME

block scripts
    script(src='/scripts/_login.js')