
body {
  /*NAV BAR STUFF HERE*/
  background-image: url('../img/header.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.navBAR {
  background-color: cornflowerblue;
  height:30px;
  width:100vw;
  padding: 5px;
}
.navBAR a{
  padding: 5px;
}
.navBAR#left {
  padding: 5px;
}
.navBAR#right {
  padding: 5px;
}
div.body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  text-align:center;
  padding-top: 25vh;
}
div.body h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: snow;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
div.body p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  div.body {
    text-align: center;
    min-height: 100%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    margin-left: auto;
    margin-right: auto;
  }
  div.body h1 {
    font-size: 50px;
  }
  div.body  p {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
  }
}
hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #F05F40;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #222222;
}

#wrapper {
	margin-top:50%;
  margin-left:auto;
  margin-right:auto;
  width:960px;
}
